.navbar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #f5d4af;
}

.navbar .logo{
    width: 150px;
    height: 150px;
}
.pUserName{
    margin-bottom: 0;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(241, 125, 96);
    font-size: 18px;
}
.link{
    color: #e08548;
    text-decoration: none;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: rgb(241, 125, 96);
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.navbar button:hover{
    background: #e08548;
    color: rgb(255, 255, 255);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #e08548;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.carrito-navBar{
    display:none;
}
.menu-hamburgesa{
    display:none;
}

@media (max-width: 900px) {
    .navbar-menu {
        display: block;
    }
    .userName{
        display: none;
    }
    
}

@media (max-width: 550px) {
    .navbar-menu {
        display: block;
        justify-content:center;
    }
    .userName{
        display: none;
    }
    .carrito-navBar{
        display: block;
    }
    .carrito-navBar img{
        width: 15px;
        margin-left: 5px;
        margin-bottom: 3px;
        height: 15px;
    }
    .navbar-search-icon{
        display: none;
    }
    .navbar-menu li {
        display: none;
    }
    .navbar-right{
        display: none;
    }
    .menu-hamburgesa{
        display:block;
    }
    .buttonPopover button {
        background: transparent;
        color: #e08548;
        border-bottom: 1px solid #e08548;
        border-left: 1px solid #e08548;
        border-right: 1px solid #e08548;
        border-top: none;
        padding:2px;
margin-top: 10px;
        border-radius: 5px 5px 10px 10px;
        cursor: pointer;
        transition: 0.4s;
    }
    .navbar{
height: 200px;
    }
    .imgCliente{
        border-radius: 25px;
        align-self: flex-end;
        margin-bottom: 5px;
        
    }
    
    
}

/* @media (max-width: 750px) {
    .cart-items-title, .cart-items-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
} */