/* Articulos.css */
.price-filter-container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    margin-right: 150px;
    
  }
  
  .price-filter-container label {
    font-weight: 500;
  }
  
  .price-filter-container select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #efb472;
    
    border-radius: 7px;
  }
  .price-filter-container option {
   background-color: #F3C99A;
  }
  @media (max-width: 550px) {
  
    .price-filter-container {

      margin-right: 0px;
      margin-bottom: 20px;
      justify-content: center;
    }
    
  }